*:not(input):not(textarea) {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    // Hide scroll bar
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

