@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf");
}
html,
body {
    font-family: "RobotoRegular", "NotoSansJPRegular", Meiryo, sans-serif;
    font-size: 14px;
}